<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/frontend.css" />
  </head>
  <body>
    <section class="template_j_contents_headerSec">
      <div class="container">
        <h2 class="template_j_contents_headerSec_ttl">vue</h2>
      </div>
    </section>
    <section class="template_j_contents">
      <div class="container">
        <div id="image_gallery" v-cloak>
          <div class="image_gallery_items" ref="image_gallery_items">
            <div
              v-for="(img, idx) in images"
              @click="index = idx"
              class="open-tinybox archive_list_alink"
              ref="archive_list_alink"
            >
              <img :src="img.thumbnail" :alt="img.alt" />
            </div>
            <tinybox v-model="index" :images="images" loop> </tinybox>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="./public/js/frontend.js"></script>
</html>
